@{
    ViewData["Title"] = "Danh sách duyệt đánh giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/approve.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/pages/approve.js"></script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách duyệt đánh giá</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách duyệt đánh giá</li>
    </ol>
    <div class="card mb-4 pt-4 pb-4" id="duyet-danh-gia">
        <div class="card-header">
            <form id="form-timkiem">
                <div class="input-group mt-1 mb-1">
                    <input class="form-control" type="search" placeholder="Nhập tên sản phẩm" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table-danh-gia">
                    <thead>
                        <tr>
                            <th>TT</th>
                            <th>Sản phẩm</th>
                            <th>Số sao</th>
                            <th>Nội dung</th>
                            <th>Khác hàng</th>
                            <th>Số điện thoại</th>
                            <th>Thời gian</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div id="phan-trang">

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="approvedModal" tabindex="-1" aria-labelledby="approvedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approvedModalLabel">Bạn có chắc chắn muốn duyệt đánh giá này ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Người dùng sẽ xem được đánh giá này.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button id="btn-confirm-approved" type="button" class="btn btn-primary" data-bs-dismiss="modal">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Bạn có chắc chắn muốn khóa đánh giá này ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Đánh giá này sẽ không được hiển thị.
                </div>
                <div class="modal-footer">
                    <button id="btn-confirm-delete" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa đánh giá</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="infoModalLabel">Chi tiết đánh giá</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div id="msgAlert" class="alert alert-success position-absolute" style="top: 30px; right: 30px;" role="alert">
    </div>

</div>